.footer {
    background: #333333;
    padding: 34px 20px;
}
.footer .container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__description {
    display: flex;
    flex-wrap: wrap;
}
.footer__list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-right: 5rem;
}
.footer__list-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}
.footer__link {
    font-size: 14.4px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.footer__link:hover{
    color: gray;
}
.footer__line{
    border-top: 1px solid white;
}
.footer__titre-title {
    font-size: 14.4px;
    color: #a3a3a3;
}

@media(max-width:1200px){
    .footer__list{
        padding-bottom: 20px;
    }
}
@media(max-width:768px){
    .footer__list{
        padding-right: 2rem;
    }
    .footer{
        padding-bottom: 100px;
    }
}
@media(max-width:576px){
    .footer__list{
        padding-right: 5rem;
    }
}