.main__slider {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    justify-content: center;
    width: 100%;
}

.main__slider .swiper {
    height: 420px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.main__slider .swiper-button {
    width: 30px;
    height: 30px;
    background-color: red;
}

.main__slider .swiper-slide {
    height: fit-content;
    width: 213px;
    display: flex;
    align-items: flex-start;
}

.main__slider .products__list {
    margin-top: 0px;
    gap: 0;
}

.main__slider-title {
    display: flex;
    flex-direction: column;
}

.main__slider-title img {
    height: 308px;
    margin: 0 auto;
    width: 213px;
}

.swiper-wrapper .products__card {
    margin: 0px;
}

.main__slider-title a {
    color: #8b8b8b;
    font-weight: 600;
    font-size: 0.9rem;
    margin: 10px 0;
}

.main__slider .products__card:hover {
    border: 0;
}
.swiper-wrapper 

.main__slider .swiper-button-next,
.main__slider .swiper-button-prev {
    width: 32px;
    height: 32px;
    background: white;
    border: 1px solid gray;
    position: absolute;
    top: 50%;
}
.main__slider .swiper-button-next{
    width: 32px;
    height: 32px;
    background: white;
    border: 1px solid gray;
    position: absolute;
    top: 50%;
}
.main__slider .swiper-button-next::after,
.main__slider .swiper-button-prev::after {
    display: none;
}

.main__slider .swiper-button-next img,
.main__slider .swiper-button-prev img {
    width: 30px;
    height: 30px;
}

.main__slider .swiper-button-next {
    right: -0px;
}

.main__slider .swiper-button-left {
    left: 0;
}
.main__slider-title p{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0px;
    display: none;
}
.main__catalog-sider .main__slider{
    margin: 20px 0px 50px 0px;
}
@media (max-width:1200px) {
    .main__slider .swiper {
        width: 660px;
    }
}

@media (max-width:992px) {
    .main__slider .swiper {
        width: 664px;
        height: 400px;
    }
}

@media (max-width:768px) {
    .main__slider {
        display: flex;
        flex-direction: column;
    }
    .main__slider .swiper {
        width: 100%;
        height: auto;
    }

    .main__slider .swiper-slide {
        height: fit-content;
        width: 213px;
        display: flex;
        align-items: flex-start;
    }
    .main__slider-title {
        display: flex;
    }
    .main__slider-title p{
        display: block;
    }
    .main__slider-title img {
        display: none;
    }
    .main__slider .swiper-button-next,
    .main__slider .swiper-button-prev {
        display: none;
    }
}