.collection {
  margin-bottom: 50px;
  height: fit-content;
}

.collection__inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.collection__title {
  font-size: 32px;
  font-weight: 600;
}

.control__cards:hover {
  opacity: 0.5;
}

.collection__products {
  width: 100%;
}

.products__control-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__mode {
  display: flex;
}

.mode__item {
  border: 1px solid #ededed;
}

.mode__item-label {
  padding: 8px 8px 6px 8px;
  opacity: 0.5;
  display: block;
}

.mode__item img {
  width: 16px;
  height: 16px;
}

.mode__item-btn {
  position: absolute;
  appearance: none;
}

.mode__item-label:hover {
  opacity: 1;
}

.mode__item-btn:checked+.mode__item-label {
  opacity: 1;
  background-color: #ffda33;
}

.products__sort {
  padding: 9px 10px;
  border: 1px solid #ededed;
  color: #949494;
}


/* modes */
.column .card__datas {
  display: block;
}

.row .card__datas {
  display: block;
  margin-top: 30px;
}

.row {
  grid-template-columns: 1fr;
}

.row .card__img {
  max-width: 150px;
  padding: 20px;
}

.row .card__inner {
  display: flex;
  justify-content: space-between;
}

.row .card__control-tabs {
  display: flex;
  flex-wrap: wrap;
  width: 180px;
  gap: 10px;
}

.row .card__description {
  flex-direction: column;
  border-left: 1px solid #ededed;
  padding: 0px 0px 0px 16px;
}

.row .card__availability {
  color: #333333;
  font-size: 14px;
}

.row .card__cart {
  margin: 20px 0px 10px 0px;
  width: 100%;
}

.row .products__card:hover {
  border: 2px solid #ffda33;
}

.default,
.column {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  width: 100%;
  margin-top: 30px;
}

.default .card__datas {
  display: none;
}

/* card */

.products__card {
  height: 100%;
  position: relative;
}

.card__img {
  padding: 0px 20px;
}

.card__inner {
  padding: 16px;
  position: relative;
  background-color: #FFF;
  border: 1px solid #ededed;
  height: 100%;
  text-align: left;
}

.column .card__inner:hover,
.default .card__inner:hover {
  border: 2px solid #ffda33;
}

.default .card__control-tabs,
.column .card__control-tabs {
  width: calc(100% + 4px);
  display: flex;
  visibility: hidden;
  position: absolute;
  bottom: -60px;
  opacity: 0;
  justify-content: start;
  background-color: #FFF;
  gap: 10px;
  left: -2px;
  padding: 15px;
}

.default .products__card:hover .card__control-tabs {
  visibility: visible;
  opacity: 1;
  z-index: 8;
  border: 2px solid #ffda33;
  border-top: 0px;
}

.column .products__card:hover .card__control-tabs {
  visibility: visible;
  opacity: 1;
  z-index: 8;
  border: 2px solid #ffda33;
  border-top: 0px;
}


.products__card img {
  object-fit: contain;
  width: 100%;
}

.card__title {
  color: #333333;
  font-size: 16px;
  margin-top: 30px;
}

.card__data {
  font-size: 14px;
  line-height: 15px;
  padding: 3px 0px;
  list-style: circle;
}

.default .card__availability,
.column .card__availability {
  display: none;
  color: #333333;
  font-size: 14px;
}

.card__availability span {
  color: #00b200;
}

.card__datas {
  display: none;
  padding: 0px 18px;
  margin-top: 5px;
}

.card__price {
  font-size: 24px;
  font-weight: 600;
  white-space: nowrap;
  margin-top: 10px;
}

.card__favorite,
.card__compared {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  height: 40px;
  padding: 0px 10px;
  background-color: #f7f7f7;
}

.card__cart {
  background: #ffda33;
  border: 0px;
  width: 60%;
  height: 40px;
  text-align: center;
}

.card__cart img {
  display: none;
  width: 20px;
  height: 100%;
  margin: 0 auto;
}

/* -------------- */
@media (max-width: 930px) {
  .products__mode {
    display: none;
  }

  .default,
  .column {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .column .card__datas,
  .row .card__datas,
  .default .card__datas {
    display: none;
  }

  .card__cart img {
    display: block;
  }

  .card__cart span {
    display: none;
  }

  .default .card__control-tabs,
  .row .card__control-tabs,
  .column .card__control-tabs {
    width: calc(100% + 15px);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    visibility: inherit;
    position: relative;
    bottom: 0px;
    opacity: 1;
    gap: 10px;
    left: 0px;
    margin: 20px 0px 10px 0px;
    background-color: #FFFFFF;
  }

  .column .card__inner:hover,
  .default .card__inner:hover {
    border: 0;
    border: 2px solid #ffda33;
  }

  .default:hover .card__control-tabs,
  .column:hover .card__control-tabs {
    border: 0;
  }

  .card__inner {
    border: 2px solid #ededed;
  }

  .row {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    width: 100%;
    margin-top: 30px;
  }

  .row .card__availability {
    display: none;
  }

  .row .card__img {
    max-width: 100%;
    padding: 0px 20px;
  }

  .row .card__inner {
    display: block;
    flex-direction: column;
  }

  .row .card__description {
    border-left: 0px;
    padding: 0px;
  }

  .row .card__cart {
    margin: 0px;
    width: 100%;
  }

  .row .products__card:hover {
    border: 2px solid #ffda33;
  }
}